<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>双向数据绑定</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="vue-app">
        <h1>双向数据绑定 / input  / select / textarea</h1>
        <!--第一种方法 -->
        <!--
        <label for="">姓名:</label>
        <input ref="refName" type="text" v-on:keyup.enter="logName">  
        <span>{{name}}</span>

        <label for="">年龄:</label>
        <input ref="refAge" type="text" v-on:keyup.enter="logAge">
        <span>{{age}}</span>
        -->

        <!-- 第二种方法,使用指令v-model-->

        <label for="">姓名:</label>
        <input ref="refName" type="text" v-model="name">  
        <span>{{name}}</span>

        <label for="">年龄:</label>
        <input ref="refAge" type="text" v-model="age">
        <span>{{age}}</span>
    </div>
    <script src="data_bind.js"></script>
</body>
</html>